// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Main Section Colors
/*
$main-bg: #f8f8f8 !default;
$page-bg: #252525 !default;
$article-border: #eeeeee !default;
*/

// Main Section Colors
$main-bg: #ffffff !default;
$page-bg: #ffffff !default;
$article-border: #eeeeee !default;

